@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: hsl(0, 0%, 98%);
}

.info {
    text-align: center;
    line-height: 30px;
    color: hsl(234, 12%, 34%);
}

#title1 {
    font-weight: 200;
}

#title2 {
    font-weight: 600;
}

#text {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    width: 38%;
    margin-inline-start: 30rem;
}

.cards {
    font-size: 15px;
}

.cards p {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: hsl(229, 6%, 66%);
}

.cards h3 {
    margin-block-end: 0px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.left,
.top,
.bottom,
.right {
    box-shadow: 0 8px 10px 0 hsla(212, 86%, 64%, 0.15);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    height: 30%;
    width: 18%;
    padding: 0 10px 0 30px;
    border-top: 5px solid;
}

.left {
    margin-inline-start: 16rem;
    margin-block-start: 10rem;
    float: left;
    border-color: hsl(180, 62%, 55%);
}

.top {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    border-color: hsl(0, 78%, 62%);
}

.bottom {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    margin-block-start: 5rem;
    border-color: hsl(34, 97%, 64%);
}

.right {
    margin-inline-end: 16rem;
    margin-block-start: 10rem;
    float: right;
    border-color: hsl(212, 86%, 64%);
}

img {
    float: right;
    margin-inline-end: 1rem;
    margin-block-end: 2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
    .info {
        font-size: 12px;
        margin-inline-start: 50px;
    }
    #text {
        width: 100%;
        margin-inline-start: 0px;
        font-size: 15px;
    }
    .left,
    .top,
    .bottom,
    .right {
        width: 50%;
    }
    .left {
        position: absolute;
        bottom: 40%;
        right: 19%;
    }
    .top {
        top: 80%;
        left: 52%;
    }
    .bottom {
        top: 104%;
        left: 52%;
    }
    .right {
        position: absolute;
        bottom: -65%;
        left: 24%;
    }
}